# Ex2 - Getting and Knowing your Data

## Step1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

## Step 2. Import the dataset from this address.
## Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

## Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

## Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1

chipo.shape[0]  # entries <= 4622 observations

4622

In [5]:
# Solution 2

chipo.info() # entries <= 4622 observations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

## Step 6. What is the number of columns in the dataset?

In [7]:
chipo.shape[1]

5

## Step 7. Print the name of all the columns.

In [15]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

## Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

## Step 9. Which was the most-ordered item?

In [17]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

## Step 10. For the most-ordered item, how many items were ordered?

In [18]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

## Step 11. What was the most ordered item in the choice_description column?

In [20]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

## Step 12. How many items were orderd in total?

In [22]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

## Step 13. Turn the item price into a float

### Step 13.a. Check the item price type

In [24]:
chipo.item_price.dtype

dtype('O')

### Step 13.b. Create a lambda function and change the type of item price

In [25]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

### Step 13.c. Check the item price type

In [26]:
chipo.item_price.dtype

dtype('float64')

## Step 14. How much was the revenue for the period in the dataset?

In [27]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

## Step 15. How many orders were made in the period?

In [28]:
orders = chipo.order_id.value_counts().count()
orders

1834

## Step 16. What is the average revenue amount per order?

In [29]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.39423118865867

In [30]:
# Solution 2
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.39423118865867

## Step 17. How many different items are sold?

In [31]:
chipo.item_name.value_counts().count()

50